/* Base styles that apply to all screen sizes */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 50px;
}

.inner-form-wrapper {
  padding: 20px;
  background-color: rgba(238, 203, 144, 0.734);
  width: 400px;
  height: 430px;
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

h3 {
  color: #ea4335;
}
.questions {
  font-size: 20px;
  margin: 60px 0 40px 0;
}

input[type="text"],
select,
input[type="email"] {
  width: 50%;
  border: 1px solid orange;
}
input[type="text"],
input[type="email"] {
  height: 25px;
}

select {
  height: 30px;
}

.error-message {
  color: #ea4335;
  margin-top: 5px;
}

/* .input-error {
  border: 1px solid #ea4335;
} */

.btn {
  margin: 60px 20px 20px 20px;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ea4335;
}

.btn:hover {
  background-color: rgb(199, 70, 19);
  color: white;
}

.radio-input-container {
  display: flex;
  justify-content: center;
  gap: 1%;
  font-size: 18px;
}

.range-label {
  display: block;
}

.result {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 25px;
  opacity: 0.8;
}

.new-response-button {
  background-color: #ea4335;
  color: white;
  width: 40%;
  height: 35px;
}
.new-response-button:hover {
  background-color: white;
  color: #ea4335;
}

/* Media query for small screens (320px - 767px) */
@media (min-width: 320px) and (max-width: 767px) {
  .inner-form-wrapper {
    width: 200px;
    height: 350px;
  }

  h3,
  .questions,
  .radio-input-container {
    font-size: 16px;
  }

  .btn {
    width: 80px;
    height: 30px;
    font-size: 14px;
    margin: 30px;
  }

  input[type="text"],
  select {
    width: 60%;
    height: 20px;
  }

  .radio-input-container {
    font-size: 14px;
    gap: 2%;
  }

  .range-label {
    font-size: 14px;
  }
  .result {
    font-size: 12px;
  }
  input[type="text"],
  input[type="email"] {
    height: 17px;
  }
  .btn {
    width: 40px;
    height: 20px;
    font-size: 8px;
  }
  .new-response-button {
    font-size: 10px;
    height: 25px;
    width: fit-content;
  }
  .radio-input-container {
    font-size: 12px;
  }
  select {
    font-size: 10px;
  }
  .error-message {
    font-size: 14px;
  }
}
